$w:100%;
$f:#ffffff;
$mw:1200px;
$b:3px solid #999999;
@mixin area ($w, $h) {
    width: $w;
    height: $h;
}

@mixin background($url) {
    background: url($url) no-repeat left;
}

@mixin backSize($s) {
    background-size: $s;
}

@mixin middleWrapper() {
    width: 1200px;
    margin: 0 auto;
}

@mixin opcityBack($o) {
    filter: alpha(opacity=$o * 10);
    -moz-opacity: $o / 10;
    -khtml-opacity: $o / 10;
}